.viewCrown {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .selecePega {
        .viewPega {
            display: flex;
            flex-direction: column;
            justify-content: normal;
            align-items: normal;
            &.view-scroll {
                position: relative;
                overflow: hidden;
                height: calc(100vh - 280px);
                max-height: 100%;
                overflow-y: scroll;
            }
        }
        @media (min-height: 1024px) {
            .viewPega {
                &.view-scroll {
                    height: 50vh;
                }
            }
        }
        @media (min-width: 1600px) {
            .viewPega {
                &.view-scroll {
                    height: 72vh;
                }
            }
        }
    }
    .headerTitle {
        position: relative;
        background-repeat: no-repeat;
        background-position: bottom center;
        background-size: 100% 100%;
        height: 32px;
        margin: 0 0 0 5px;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        background-image: none;
        .headerTitle-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .headerTitle-info {
                text-shadow: none;
                padding: 0;
                display: flex;
                flex-direction: row;
                align-items: center;
                .formCheck {
                    min-height: 20px;
                    margin-left: 0;
                    margin-right: 10px;
                    span {
                        color: #fff;
                    }
                }
            }
            .headerTitle-drop {
                margin: 3px 12px 0 0;
                .link-drop {
                    background-color: #a300b7;
                    color: #2fbced;
                    text-decoration: none;
                    &::after {
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }
        .breeding-filter {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            .btn-link {
                color: rgba(#fff, 1);
                &:hover,
                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none;
                    color: #fff;
                }
            }
        }
        .dropdown-scroll {
            width: 100%;
            height: calc(100vh - 340px);
            max-height: 420px;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
    .selecePega {
        width: 44%;
        .viewPega {
            .list-pick {
                flex-direction: row;
                flex-wrap: wrap;
                .inner-list {
                    width: 50%;
                    position: relative;
                }
                .item-pega {
                    width: 100%;
                    margin: 0;
                    padding: 6px 6px;
                    text-decoration: none;
                    &.active,
                    &:hover {
                        .item-box {
                            position: relative;
                            &::after {
                                position: absolute;
                                width: 102%;
                                height: 106%;
                                left: -2px;
                                top: -4px;
                                background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/frame/mask-item-active.svg');
                                content: '';
                            }
                            &.event-100k {
                                &::after {
                                    width: 105%;
                                    height: 113%;
                                    left: -7px;
                                    top: -13px;
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/frame/frame-100k.png')!important;
                                }
                            }
                            &.event-1m {
                                &::after {
                                    width: 105%;
                                    height: 113%;
                                    left: -7px;
                                    top: -13px;
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/frame-1m.png')!important;
                                }
                            }
                            &.tag-time {
                                opacity: 1;
                                &::before {
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/frame/icon_tag_time.png');
                                }
                            }
                            &.frame-blue {
                                opacity: 1;
                                &::after {
                                    width: 105%;
                                    height: 113%;
                                    left: -7px;
                                    top: -13px;
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/frame/frame-blue.png');
                                }
                            }
                            &.frame-purple {
                                opacity: 1;
                                &::after {
                                    width: 105%;
                                    height: 113%;
                                    left: -7px;
                                    top: -13px;
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/frame/frame-purple.png');
                                }
                            }
                            &.frame-yellow {
                                opacity: 1;
                                &::after {
                                    width: 105%;
                                    height: 113%;
                                    left: -7px;
                                    top: -13px;
                                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/frame/frame-yellow.png');
                                }
                            }
                            .item-header {
                                .info-inner {
                                    .item-info-title {
                                        color: #2fbced;
                                    }
                                    .item-info-meta {
                                        color: #b4b4b4;
                                        font-weight: 300;
                                        span {
                                            padding: 0 4px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    &.active {
                        .item-box {
                            &::before {
                                position: absolute;
                                width: 99%;
                                height: 98%;
                                left: 1px;
                                top: 0px;
                                content: '';
                                z-index: 1000;
                                background-color: rgba(#000, 0.6);
                            }
                        }
                    }
                    &.fused,
                    &.banned {
                        .item-box {
                            &::before {
                                position: absolute;
                                width: 99%;
                                height: 98%;
                                left: 1px;
                                top: 0px;
                                content: '';
                                z-index: 1000;
                                background-color: rgba(#000, 0.6)!important;
                            }
                        }
                    }
                    .item-box {
                        .item-cover {
                            min-height: 116px;
                            padding: 0;
                            .item-cover-img {
                                left: 20px;
                            }
                        }
                        .item-class.class-pega {
                            background-color: transparent;
                            color: #fff;
                            font-size: 14px;
                            background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/ic_heart.png');
                            background-position: center;
                            background-size: 100% 100%;
                            background-repeat: no-repeat;
                            height: 30px;
                            width: 36px;
                            //
                        }
                    }
                }
            }
        }
    }
    .showPega {
        width: 56%;
        background-repeat: no-repeat;
        background-position: bottom 20px center;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 100px;
        &.active {
            background-size: 120% auto;
            background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/crown/bg-content.png');
        }
        .showPega-header {
            width: 100%;
            text-align: center;
            padding: 10px;
            margin-top: 0px;
            .showPega-header-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                position: relative;
                top: -10px;
                span {
                    padding: 0 10px;
                    position: relative;
                    top: 2px;
                    font-size: 18px;
                }
            }
        }
        .showPega-alert {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            background-color: rgba(#000, 0.5);
            padding: 15px 80px;
            margin-top: 100px;
            .showPega-alert-icon {
                font-size: 40px;
                color: #710675;
                margin-right: 10px;
            }
            .showPega-alert-info {
                text-align: center;
                position: relative;
                top: 2px;
                span {
                    color: red;
                }
            }
        }
        .showPega-content {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: space-between;
            height: 100%;
            // margin-bottom: 20px;
            .pega-content {
                flex: 1 100%;
                width: 45%;
                padding: 5px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                &.content-left {
                    flex: 1 100%;
                    width: 45%;
                }
                &.content-right {
                    flex: 1 100%;
                    width: 45%;
                    justify-content: flex-end;
                    height: 100%;
                }
                .show-pega {
                    position: relative;
                    width: 100%;
                    margin-bottom: 20px;
                    min-height: 120px;
                }
                .show-crown {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    margin-bottom: 30px;
                    .show-crown-demo {
                        position: absolute;
                        z-index: 1000;
                        width: 130%;
                        padding-top: 130%;
                        // height: 110%;
                        bottom: 0;
                        left: -15%;
                        transform: translate(0, -20px);
                        * {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                        }
                        img {
                            object-fit: contain;
                        }
                    }
                    .show-crown-img {
                        position: relative;
                        width: 200px;
                        height: 120px;
                    }
                }
                .info-pega {
                    width: 200px;
                    height: 40px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    background-position: center;
                    background-size: 100% 100%;
                    background-repeat: no-repeat;
                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/holder-bg.png');
                    .info-cover {
                        width: 40px;
                        height: 40px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        margin-right: 10px;
                        img,
                        svg {
                            width: 18px;
                            height: 18px;
                        }
                    }
                    .info-title {
                        .name {
                            color: #fff;
                            margin-bottom: 5px;
                            font-size: 18px;
                            position: relative;
                            top: -3px;
                        }
                        .meta {
                            color: #888fa9;
                        }
                    }
                }
            }
            .pega-dir {
                margin: 0 2px;
                margin-bottom: 120px;
            }
        }
        .viewButton {
            width: 280px;
            position: absolute;
            bottom: 20px;
            left: auto;
            right: auto;
            margin: 0 auto;
            span {
                color: #fff;
            }
        }
        .viewAction {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 10px;
            position: absolute;
            bottom: 20px;
            left: auto;
            right: auto;
            margin: 0 auto;
            .chooseTicket {
                position: relative;
                background-repeat: no-repeat;
                background-position: bottom center;
                background-size: 100% 100%;
                background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-bg.png');
                width: 70px;
                height: 70px;
                margin-right: 10px;
                .chooseFrame {
                    position: relative;
                    background-repeat: no-repeat;
                    background-position: bottom center;
                    background-size: 100% 100%;
                    width: 70px;
                    height: 70px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &.select {
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-select.png');
                    }
                    &.purple {
                        // background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/breed/frame-purple.png');
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-purple.png');
                    }
                    &.green {
                        // background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/breed/frame-green.png');
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-green.png');
                    }
                    &.blue {
                        // background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/breed/frame-blue.png');
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-blue.png');
                    }
                    &.yellow {
                        // background-image: url('https://cdn.pegaxy.io/statics/play/public/v4/images/breed/frame-yellow.png');
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/breed/frame-yellow.png');
                    }
                    .chooseFrame-ticket {
                        width: 48px;
                        height: 48px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .chooseFrame-icon {
                        position: absolute;
                        bottom: 5px;
                        right: 5px;
                        width: 16px;
                        height: 16px;
                    }
                }
            }
            .viewButton {
                position: relative;
                width: 280px;
                margin: 0 auto;
                height: 70px;
                bottom: auto;
            }
        }
    }
    @media (min-width: 1600px) {
        .selecePega {
            width: 40%;
            .viewPega {
                .list-pick {
                    .item-pega {
                        .item-box {
                            .item-cover {
                                min-height: 140px;
                                padding: 0;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
        .showPega {
            width: 60%;
            .showPega-content {
                .pega-content {
                    .show-crown {
                        .show-crown-demo {
                            width: 126%;
                            padding-top: 126%;
                            bottom: 0;
                            left: -15%;
                            transform: translate(0, -20px);
                        }
                        .show-crown-img {
                            width: 260px;
                            height: 160px;
                        }
                    }
                }
            }
        }
    }
}

.confirmFuse {
    .item-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        .item-cover {}
        .item-info {
            flex: 1;
            padding: 20px;
            max-width: 460px;
            margin: 0 auto;
            .item-row {
                margin-bottom: 20px;
                position: relative;
                &.list {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
                &.hoz {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    div {
                        margin-right: 15px;
                    }
                    .item-title {
                        margin: 0 20px 0 0;
                        width: 70px;
                    }
                    .item-desc {
                        margin: 0 25px 0 0;
                    }
                }
                .item-title {
                    color: #2fbced;
                    margin-bottom: 10px;
                }
                .item-action {
                    position: absolute;
                    right: 5px;
                    bottom: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    div {
                        padding: 0 3px;
                    }
                    img {
                        display: block;
                    }
                }
                .list-inner {
                    flex: 1 100%;
                    &:first-child {
                        .item-title {
                            border-width: 0;
                            padding-left: 0;
                            text-align: left;
                        }
                        .item-desc {
                            padding-left: 0;
                            text-align: left;
                        }
                    }
                    .item-title {
                        border-left: 1px #2fbced solid;
                        // padding-left: 20px;
                        text-align: center;
                        span {
                            position: relative;
                            top: 2px;
                        }
                    }
                    .item-desc {
                        // padding-left: 20px;
                        text-align: center;
                    }
                }
            }
        }
    }
    .list-link {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        .viewButton {
            margin: 5px 10px;
            width: 200px;
            height: 50px;
            background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/button-start.png');
            background-position: center;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                text-transform: uppercase;
                font-size: 22px;
                position: relative;
                top: 4px;
                text-shadow: 0 0 5px #fd3fff;
                color: #fff;
            }
            &.disabled {
                background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/button-no-color.png');
                span {
                    text-shadow: 0 0 5px #333;
                }
            }
            &.secondary {
                background-image: url('https://cdn.pegaxy.io/statics/play/public/v1/images/button-color.png');
                span {
                    text-shadow: 0 0 1px rgba(#000, 0.1);
                }
            }
            &:hover {
                transform: scale(1.03);
                animation: pulse 0.5s;
                box-shadow: 0 0 0 8px rgba(#fff, 0);
                border-radius: 3px;
            }
        }
    }
    .view-loading {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 20px;
        span {
            font-size: 24px;
            text-shadow: 0 0 5px #fd3fff;
            position: relative;
            top: 10px;
        }
    }
}