.custom-container {
    height: 100%;
    .gameState-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
            margin-right: 25px;
            position: relative;
            .animate-dot {
                position: absolute;
                bottom: 0;
                left: 100%;
            }
        }
        span.gameState-info {
            margin: 0 !important;
        }
    }
    .view-pega-3d {
        width: 100%;
        height: 350px;
    }
    .view-equip.viewForBtnResult {
        position: absolute;
        bottom: 25px;
        right: 15px;
        left: 5px;
    }
    .viewPegaSimple {
        width: 100%;
        padding: 10px 0;
        text-align: center;
        span {
            padding: 0 4px;
        }
        .pegaName {
            color: #ffffff;
            font-size: 25px;
        }
        .pegaSubDetail {
            margin-top: 5px;
            color: #605e74;
            font-size: 16px;
        }
    }
    .sellVisToken {
        margin-top: 5px;
        .is-invalid {
            color: #ff7b00;
            font-size: 14px;
        }
    }
    .sellVisInput {
        input[type='number'] {
            -moz-appearance: textfield;
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    .race-countdown {
        width: 20%;
        height: 24%;
        position: relative;
    }
    .race-finished {
        width: 40%;
        height: 27%;
        position: relative;
    }
}

.img-mirror {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.race-matching {
    position: relative;
    .animate-dot {
        position: absolute;
        bottom: 5;
        left: 100%;
    }
}

.loading-dot-container {
    position: relative;
}

.loading-dot {
    display: inline-block;
    font-size: 30px;
}

.loading-dot:after {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: anim-loading-dot steps(4, end) 1000ms infinite;
    animation: anim-loading-dot steps(4, end) 1000ms infinite;
    content: '\2026';
    width: 0px;
}

@keyframes anim-loading-dot {
    to {
        width: 1em;
    }
}

@-webkit-keyframes anim-loading-dot {
    to {
        width: 1em;
    }
}

.loading-dot {
    font-size: 30px;
}

.loading-dot:after {
    position: absolute;
    bottom: 0;
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: anim-loading-dot steps(4, end) 1000ms infinite;
    animation: anim-loading-dot steps(4, end) 1000ms infinite;
    content: '\2026';
    width: 0px;
}

@keyframes anim-loading-dot {
    to {
        width: 1em;
    }
}

@-webkit-keyframes anim-loading-dot {
    to {
        width: 1em;
    }
}

.racing3d-container {
    .racing3d-inner {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        height: 0;
        margin: 0;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .racing3d-content.finish.inactive {
        background-image: none !important;
    }
}

.setting-box {
    .channel:hover {
        transition: ease all 0.1s;
        transform: scale(1.05);
    }
    .is-muted {
        cursor: pointer;
    }
}

.toast-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: 10px;
    color: #fff;
    width: 312px;
    height: 70px;
    font-size: 17px;
    font-weight: normal;
    z-index: 999;
    animation: fadeInAnimation ease 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    @keyframes fadeInAnimation {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.view-badge.flip {
    right: auto !important;
    left: -13px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    i {
        left: 5px;
    }
    span {
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
    }
}

.modal-buy-ticket {
    width: 600px !important;
}

.notification-header {
    .read.disabled {
        color: #b4b4b4;
    }
}

.notification-list {
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 1.3;
    .item-notification {
        .header .title {
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            font-weight: 600;
        }
        .header .header-content {
            display: flex;
            flex-grow: 1;
            flex-direction: column;
            justify-content: left;
            align-items: left;
        }
        .time {
            font-size: 10px !important;
            text-align: left !important;
        }
    }
    .scroll-loader {
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
    .notification-empty {
        color: rgb(108, 117, 125);
        width: 100%;
        text-align: center;
        margin-top: 20px;
    }
}

.tabs-setting {
    .col-nav {
        position: relative;
        .build-id {
            color: #dee0e4;
            width: 100%;
            text-align: center;
            position: absolute;
            bottom: 10px;
        }
    }
}

.with-pgspeed {
    position: relative;
    .pgspeed {
        position: absolute;
        top: 0;
        left: -100px;
    }
}

.history-filter {
    height: 16px;
    button {
        padding-left: 0;
    }
}

.prizepool.visoff {
    span {
        color: #ffffff !important;
    }
}

.pega-history-spinner {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.pega-history-spinner {
    width: 100%;
    text-align: center;
    margin-top: 15px;
}

.tile-loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 11000;
    flex-direction: column;
}

.pfp-content {
    display: flex;
    justify-items: center;
    align-items: center;
    .pfp-grid {
        width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-gap: 8px;
        justify-items: center;
        align-items: center;
        .pfp-card {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 195px;
            height: calc(195px + 30px);
            background-color: #111111;
            border-radius: 5px;
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                right: 0;
                width: 0;
                height: 0;
                border-top: 13px solid #111111;
                border-right: 13px solid #0e2e62;
            }
            .avatar {
                align-self: center;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 5px 5px 0 0;
                width: 195px;
                height: 195px;
            }
            .title {
                font-size: 20px;
                margin-top: 8px;
                width: 100%;
                color: #ffffff;
                text-align: center;
                font-weight: 400;
            }
        }
    }
}

.room-type {
    svg {
        width: 20px;
        height: 20px;
    }
}

.info-cost {
    .not-apply {
        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/bg_holder.png');
        background-position: center;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 16px;
        width: 350px;
        margin-top: 10px;
        .not-apply-inner {
            color: red;
            font-weight: 500;
            font-size: 15px;
            text-align: center;
        }
    }
}

// custome 
.walletconnect-modal__mobile__toggle a:not([href]):not([class]),
a:not([href]):not([class]) {
    &:hover {
        color: rgba(60, 66, 82, 0.6);
        cursor: pointer;
    }
    color: rgba(60,
    66,
    82,
    0.6);
    text-decoration: none;
}