.viewFoods {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    .list-pick {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .item-pega {
            margin-bottom: 12px;
            width: 25%;
            padding: 12px;
            text-decoration: none;
            &.active,
            &:hover {
                .item-box {
                    position: relative;
                    &::after {
                        position: absolute;
                        width: 102%;
                        height: 106%;
                        left: -2px;
                        top: -4px;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/mask-item-active.svg');
                    }
                    .item-header {
                        .info-inner {
                            .item-info-title {
                                color: #2fbced;
                            }
                            .item-info-meta {
                                color: #b4b4b4;
                                font-weight: 300;
                                span {
                                    padding: 0 4px;
                                }
                            }
                        }
                    }
                }
            }
            .item-box {
                position: relative;
                &::after {
                    position: absolute;
                    width: 102%;
                    height: 106%;
                    left: -2px;
                    top: -4px;
                    content: '';
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% 100%;
                    cursor: pointer;
                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/mask-item.svg');
                }
                &.event-100k {
                    &::before {
                        position: absolute;
                        width: 100px;
                        height: 50px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        top: -18px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/mask-100k-top.png');
                        z-index: 100;
                    }
                    &::after {
                        position: absolute;
                        width: 102%;
                        height: 102%;
                        left: -2px;
                        top: -2px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/mask-100k.png');
                    }
                }
                &.tag-time {
                    &::before {
                        position: absolute;
                        width: 30px;
                        height: 30px;
                        left: 5px;
                        margin: 0 auto;
                        top: 0;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/icon_tag_time.png');
                        z-index: 100;
                    }
                }
                &.frame-green {
                    &::after {
                        position: absolute;
                        width: 102%;
                        height: 106%;
                        left: -2px;
                        top: -4px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/frame-green.png');
                    }
                }
                &.frame-blue {
                    &::after {
                        position: absolute;
                        width: 104%;
                        height: 114%;
                        left: -5px;
                        top: -9px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/frame-blue.png');
                    }
                }
                &.frame-purple {
                    &::after {
                        position: absolute;
                        width: 105%;
                        height: 113%;
                        left: -10px;
                        top: -14px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/frame-purple.png');
                    }
                }
                &.frame-yellow {
                    &::after {
                        position: absolute;
                        width: 104%;
                        height: 114%;
                        left: -5px;
                        top: -9px;
                        content: '';
                        background-repeat: no-repeat;
                        background-position: center center;
                        background-size: 100% 100%;
                        cursor: pointer;
                        background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/frame/frame-yellow.png');
                    }
                }
                .item-cover {
                    position: relative;
                    object-fit: cover !important;
                    background-repeat: no-repeat;
                    background-position: center center;
                    background-size: 100% 100%;
                    cursor: pointer;
                    background-image: url('https://cdn.pegaxy.io/statics/play/public/v9/images/equip_bg.png');
                    min-height: 129px;
                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        top: 30%;
                        left: 0;
                        bottom: 0;
                        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5));
                    }
                    .item-cover-img {
                        position: absolute;
                        left: 10px;
                        top: 12px;
                        img {
                            object-fit: cover !important;
                        }
                    }
                }
                .item-header {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    position: absolute;
                    width: 50%;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    .info-inner {
                        padding: 8px 8px 4px;
                        .item-info-title {
                            font-size: 20px;
                            margin-bottom: 0;
                            position: relative;
                            color: #2fbced;
                            text-align: left;
                            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                            margin-bottom: 4px;
                        }
                        .item-info-meta {
                            font-size: 14px;
                            position: relative;
                            color: #b4b4b4;
                            font-weight: 300;
                            text-align: left;
                            text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                            margin-bottom: 12px;
                            span {
                                padding: 0 4px;
                            }
                        }
                        .item-info-desc {
                            ul {
                                margin: 0;
                                padding: 0;
                                list-style: none;
                                li {
                                    font-size: 14px;
                                    font-weight: 300;
                                    margin-bottom: 2px;
                                    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
                                }
                            }
                        }
                    }
                }
            }
        }
        .info-action {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-top: 10px;
            .action-link {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                .item-link {
                    margin: 0 4px;
                    flex: 1 100%;
                    &:first-child {
                        margin-left: 0;
                    }
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
